#file-container {
  border: 2px dashed gray;
  border-radius: 5px;
  height: 10rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(71, 66, 66);
  cursor: pointer;
  position: relative;
  z-index: 5;
}
#file-container:hover {
  border: 2px dashed var(--hover-border-color);
}

.file-icon{
  height: 3rem;
  width: 3rem;
  background-color: rgba(128, 128, 128, 0.081);
  border-radius: 100%;
  padding: 10px;
}

.file-input {
  display: none;
}

.file-description{
  color: rgb(45, 42, 42);
  font-size: 0.6rem;
  font-family: 'Lucida Sans', sans-serif;
  padding-top: 15px;
}

.file-formats-details{
  color: rgb(164, 159, 159);
  font-family: 'Lucida Sans', sans-serif;
  padding-top: 4px;
  font-size: 0.5rem;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}
.delete-icon {
  height: 1rem;
  width: 1rem;
  color: red;
  display: none;
  transition: all 0.4s ease-in-out;
}

.delete-icon:hover {
  scale: 1.4;
}

.selected-image-preview{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 500px) {
  #file-container {
    height:11rem;
    width: 25rem;
  }
  .file-description{
    font-size: 1rem;
  }
  
  .file-formats-details{
    font-size: 0.9rem;
  }
}
